---
layout: default
---

<div class="content"  role="main">
<article class="post-2 page type-page status-publish hentry" role="article">
  {% if page.title %}
  <header>
    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% if page.date %}<p class="meta">{% include post/date.html %}{{ time }}</p>{% endif %}
  </header>
  {% endif %}
  {{ content }}
  {% unless page.footer == false %}
    <footer>
      {% if page.date or page.author %}<p class="meta">
        {% if page.author %}{% include post/author.html %}{% endif %}
        {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
        {% if page.categories %}{% include post/categories.html %}{% endif %}
      </p>{% endif %}
      {% unless page.sharing == false %}
        {% include post/sharing.html %}
      {% endunless %}
    </footer>
  {% endunless %}
</article>
{% if site.disqus_short_name and page.comments == true %}
  <div id="comments">
    <h2 id="comments-title">Comments</h1>
    <div class="commentlist" id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </div>
{% endif %}
</div>
{% unless page.sidebar == false %}
<div id="sidebar" class="widget-area" role="complementary">
  <aside class="widget widget_search" id="search-2">
    {% if site.simple_search %}
  <form action="{{ site.simple_search }}" method="get">
    <fieldset role="search">
      <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
      <input class="search" type="text" name="q" id="s" results="0" placeholder="Search"/>
      <input id="searchsubmit" type="submit" value="Search">
    </fieldset>
  </form>
    {% endif %}
    <ul data-subscription="rss{% if site.subscribe_email %} email{% endif %}" style="margin: 10px 10px 0px 13px;">
      <li><a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
      {% if site.subscribe_email %}
        <li><a href="{{ site.subscribe_email }}" rel="subscribe-email" title="subscribe via email">Email</a></li>
      {% endif %}
    </ul>
  </aside>
  
    {% if site.blog_index_asides.size %}
      {% include_array blog_index_asides %}
    {% else %}
      {% include_array default_asides %}
    {% endif %}
</div>
{% endunless %}
